body{
    background-color: #1285e9;
    text-align: center;
}
#board{
    width: 700px;
    height: 400px;
}
.myRow{
    width: 300px;
    height: 30px;
}
.grid{
    width: 30px;
    height: 30px;
    border: black 0.5px solid;
    display: inline-block
}
.position{
    display: inline-block;
}
.horizontal{
    width: 35px;
    height: 15px;
    border: black 0.5px solid;
}
.vertical{
    width: 15px;
    height: 35px;
    border: black 0.5px solid;
    margin-top: 5px;
}
.selected{
    background-color: rgb(65, 3, 94);
}
.hit{
    background-color: rgb(247, 243, 8);
}
.miss{
    background-color: rgb(85, 76, 76);
}